@model BitBookMvcApp.Models.Profile
@{
    ViewBag.Title = "Home Page";
    string userName = (string)Session["User"];
}

<div>
    
    <hr />
    <h3>Welcome @userName</h3>
    @Html.ActionLink("Basic Info", "Index", "BasicInfo")
    <br />
    @Html.ActionLink("Search People", "Index", "SearchPeople")
    <br />
    @Html.ActionLink("Friend List", "ViewAllFriend", "Friend")
    <br />
    @Html.ActionLink("Friend Request List", "ViewFriendRequests", "Friend")
    <br />
    @Html.ActionLink("Change Password", "ChangePassword", "Home")
    <dl class="dl-horizontal"></dl>
    <hr/>
    <br/>
    <br/>
    @Html.ActionLink("Logout", "Logout")
</div>
