@model BitBookMvcApp.Models.ViewModels.Registration.RegistrationAndLogin

@{
    Layout = null;
    ViewBag.Title = "Signup";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<div class="container body-content" style="padding-top: 200px">

    <div class="pull-right col-md-6">
        <h4 style="color: red">
            @if ((string)Session["LoginFailed"] != null)
            {
                @((string)Session["LoginFailed"])
            }
        </h4>
        @using (Html.BeginForm("Login", "Registration", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 class="text-center">Login</h2>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(m => m.Login.Email, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Login.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Login.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Login.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Login.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Login.Password)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Signin" class="btn btn-primary col-md-3" />
                    </div>
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-4 col-md-8 btn-group">
                <button type="button" data-toggle="collapse" data-target="#Signup" onclick="hide" class="btn btn-default dropdown-toggle col-md-3" value="Signup">Signup</button>
            </div>
        </div>
        <br />
        @using (Html.BeginForm("Signup", "Registration", FormMethod.Post, new { @class = "collapse ", id = "Signup" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h2 class="text-center">User Registration</h2>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.Registration.FirstName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Registration.FirstName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Registration.FirstName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Registration.LastName, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Registration.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Registration.LastName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Registration.Email, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.Registration.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Registration.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Registration.Password, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Registration.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Registration.Password)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Registration.ConfirmPassword, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.PasswordFor(m => m.Registration.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Registration.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Registration.DateOfBirth, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8 dropdown">
                        @Html.DropDownList("day", new SelectList((List<SelectListItem>)Session["Days"], "Value", "Text"), new { @class = "btn btn-default dropdown-toggle" })
                        @Html.DropDownList("Month", new SelectList((List<SelectListItem>)Session["Months"], "Value", "Text"), new { @class = "btn btn-default dropdown-toggle" })
                        @Html.DropDownList("year", new SelectList((List<SelectListItem>)Session["Years"], "Value", "Text"), new { @class = "btn btn-default dropdown-toggle" })
                        @Html.ValidationMessageFor(m => m.Registration.DateOfBirth)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Registration.Gender, new { @class = "col-md-4 control-label" })
                    <div class="col-md-8">
                        @Html.RadioButtonFor(x => x.Registration.Gender, "Male", new { @class = "", @checked = true })Male
                        @(Html.RadioButtonFor(x => x.Registration.Gender, "Female"))Female
                        @Html.ValidationMessageFor(m => m.Registration.Gender)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Signup" class="btn btn-primary col-md-3" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")

